@use '../../variables';

.user-list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.add-user {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0;
    margin: 1rem;
    width: 20rem;
    background-color: variables.$color-primary;
    display: grid;
    grid-template-columns: 90% 10%;
    transition: 0.5s;
    
    &:hover {
        scale: 1.03;
        box-shadow: variables.$shadow;
        background-color: variables.$color-focus
    }
}

@media screen and (max-width: 800px) {
    .user-list ul {
        grid-template-columns: 1fr;
    }
}