@use '../../variables';

.user-form {
    padding: 3rem;
    width: 40%;
    margin: auto;
    background-color: variables.$color-primary;
    box-shadow: variables.$shadow;

    label {
        padding: 0.3rem;
    }

    input {
        margin-bottom: 1rem;
    }

    .error {
        display: inline;
        color: variables.$color-error;
        scale: 0.9;
    }
}