@use '../../variables';

.wrapper {
    border-radius: 0.2rem;
    padding: 0;
    margin: 1rem;
    width: 20rem;
    background-color: variables.$color-primary;
    display: grid;
    grid-template-columns: 90% 10%;
    transition: 0.5s;
    box-shadow: variables.$shadow;
    
    &:hover {
        scale: 1.03;
        background-color: variables.$color-focus;
    }
}

.user-card {
    padding: 1rem;
}

.lock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.locked {
    background-color: variables.$color-secondary;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 80%;
        overflow-x: hidden;
    }
}