$color-background: white;
$color-text: black;
$color-primary: aliceblue;
$color-secondary: lightgray;
$color-focus: rgba(122, 183, 237);
$color-error: rgba(255, 0, 0, 0.7);

$shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
 