@use '../../variables';

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-bottom: 2px solid black;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
        box-shadow: variables.$shadow;
        border-radius: 0.2rem;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: variables.$color-secondary;

        &:hover {
            background-color: variables.$color-focus;
        }
    }

    .active {
        background-color: variables.$color-primary;
    }
}
